@model IEnumerable<AMS.Models.CustomerVM>

@{
  ViewData["Title"] = "Index";
}

<div class="card">
  <div class="card-header">
    <div class="wrapper-inner-card d-flex justify-content-between align-items-center">
      <h3 class="text-uppercase">Application List</h3>
      <button type="button" class="btn back btn-success"><a asp-action="AdminAdmissionCreate"> <i class="fa fa-plus"
            aria-hidden="true"></i> Create New Apllication</a></button>
    </div>
  </div>

  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>ID Number</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>

        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.process)
            </td>
            <td>
              <div class="row">

                <a asp-action="Accept" asp-route-id="@item.Id">Approve</a>
              </div>
              <div class="row">
                <a asp-action="Decline" asp-route-id="@item.Id">Decline</a>
              </div>

            </td>
          </tr>
        }


      </tbody>
    </table>
    <!-- /.card-body -->



  </div>
</div>


@section Scripts{

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>
  console.log("Hello")
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
    });

  });
</script>
}
